<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top myNavbar">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ><img width="120" height="75" class="logoDemosi" src="~/Assets/logo_demosi.png" /></li>
                        <li class="liTable">@Html.ActionLink("Table", "Table", "Table", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li class="liSettings">@Html.ActionLink("Settings", "Settings", "Settings", new { area = "" }, null)</li>
                        <li class="liLogin">@Html.ActionLink("Login", "Login", "Login", new { area = "" }, null)</li>
                    </ul>
                </div>
            </div>
        </div>*@

    <div class="myNavbar">
        <ul class="myUl">
            <li class="myLi tableLi">
                <a href="@Url.Action("Table", "Table")">
                    <div class="tableDiv">
                        <i class="fa fa-table" aria-hidden="true"></i> Tablica
                    </div>
                </a>
            </li>
            <li class="myLi settingLi">
                <a href="@Url.Action("Settings", "Settings")">
                    <div class="settingsDiv">
                        <i class="fa fa-cog" aria-hidden="true"></i> Settings
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
