<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="myNavbar">
        <ul id="myUl" class="myUl">
            <li class="myLi tableLi">
                <div class="">
                    <a href="@Url.Action("Table", "Table")">
                        <div class="tableDiv">
                            <i class="fa fa-table" aria-hidden="true"></i> Tablica
                        </div>
                    </a>
                </div>
            </li>
            <li class="myLi settingLi">
                <div class="">
                    <a href="@Url.Action("Settings", "Settings")">
                        <div class="settingsDiv">
                            <i class="fa fa-cog" aria-hidden="true"></i> Postavke
                        </div>
                    </a>
                </div>
                <div class="">
                    @*<a href="@Url.Action("Login", "Login")" id="logout">
                        <div class="loginDiv">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Odjava
                        </div>
                    </a>*@
                    <button id="logout" class="logOutButton">
                        <div class="loginDiv">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Odjava
                        </div>
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
